:root {
  color-scheme: light dark;
}

.temperatures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.weather.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: rgba(180, 180, 180, 0.4);
  border-radius: 7px;
  outline: white solid 1px;
  max-width: 30rem;
}
.hidden {
  visibility: hidden;
}
